---
import PlaygroundCard from '../components/site/PlaygroundCard.astro';
import { Code } from 'astro/components';
import { Callout as CalloutCmp } from '@freecodecamp/uikit';
---

<PlaygroundCard
  id='callout'
  slug='Callout'
  title='Callout'
  previewStacked
  description='Inline sidebar for curriculum notes, tips, and cautions.'
  source='data-display/Callout.tsx'
  status='stable'
  since='1.0.0'
>
  <Fragment slot='preview'>
    <CalloutCmp variant='tip'>
      You can open the code editor fullscreen with <kbd class='kbd'>F11</kbd>.
    </CalloutCmp>
    <CalloutCmp variant='warning'>
      Running this reset removes local progress for the active challenge.
    </CalloutCmp>
  </Fragment>
  <Code
    slot='react'
    lang='tsx'
    code={`import { Callout } from '@freecodecamp/uikit';

<Callout variant="tip" label="Tip">
  Open the editor fullscreen with <kbd>F11</kbd>.
</Callout>`}
  />
  <Code
    slot='html'
    lang='html'
    code={`<aside class="callout callout--tip">
  <p class="callout__label">Tip</p>
  <p class="callout__body">Open the editor fullscreen with <kbd>F11</kbd>.</p>
</aside>`}
  />
</PlaygroundCard>
