---
import PlaygroundCard from '../components/site/PlaygroundCard.astro';
import { Code } from 'astro/components';
import { Checkbox as CheckboxCmp } from '@freecodecamp/uikit';
---

<PlaygroundCard
  id='checkbox'
  slug='Checkbox'
  title='Checkbox'
  description='Flat, square, accent-filled checkmark.'
  source='forms/Checkbox.tsx'
  status='stable'
  since='1.0.0'
  a11yPattern='https://www.w3.org/WAI/ARIA/apg/patterns/checkbox/'
>
  <Fragment slot='preview'>
    <CheckboxCmp defaultChecked label='I accept the honor code' />
    <CheckboxCmp label='Email me certificate alerts' />
  </Fragment>
  <Code
    slot='react'
    lang='tsx'
    code={`import { Checkbox } from '@freecodecamp/uikit';

<Checkbox defaultChecked label="I accept the honor code" />
<Checkbox label="Email me certificate alerts" />`}
  />
  <Code
    slot='html'
    lang='html'
    code={`<label class="check"><input type="checkbox" checked /> I accept the honor code</label>
<label class="check"><input type="checkbox" /> Email me certificate alerts</label>`}
  />
</PlaygroundCard>
