---
import PlaygroundCard from '../components/site/PlaygroundCard.astro';
import { Code } from 'astro/components';
import { TabsDemo } from './_islands/TabsDemo';
---

<PlaygroundCard
  id='tabs'
  slug='Tabs'
  title='Tabs'
  previewStacked
  description='Inverted-fill selected state, matches the platform editor panel.'
  source='navigation/Tabs.tsx'
  status='stable'
  since='1.0.0'
  a11yPattern='https://www.w3.org/WAI/ARIA/apg/patterns/tabs/'
>
  <Fragment slot='preview'>
    <TabsDemo client:visible />
  </Fragment>
  <Code
    slot='react'
    lang='tsx'
    code={`import { Tabs, Tab } from '@freecodecamp/uikit';

<Tabs defaultActiveKey="instructions">
  <Tab eventKey="instructions" title="Instructions">...</Tab>
  <Tab eventKey="tests" title="Tests">...</Tab>
  <Tab eventKey="console" title="Console">...</Tab>
</Tabs>`}
  />
  <Code
    slot='html'
    lang='html'
    code={`<div class="tabs">
  <div role="tablist" class="tabs__list">
    <button class="tabs__tab" aria-selected="true">Instructions</button>
    <button class="tabs__tab" aria-selected="false">Tests</button>
    <button class="tabs__tab" aria-selected="false">Console</button>
  </div>
  <div class="tabs__panel">...</div>
</div>`}
  />
</PlaygroundCard>
