---
import { AppSidebar } from './AppSidebar.tsx';
import { nav } from '../../data/nav.ts';

const currentPath = Astro.url.pathname;
const currentHash = Astro.url.hash;
const WITH_SIDEBAR = new Set<string>(['/', '/handbook', '/handbook/']);
const showSidebar = WITH_SIDEBAR.has(currentPath);
---

{
  showSidebar && (
    <>
      <div class='app__sidebar' id='app-sidebar'>
        <AppSidebar
          nav={nav}
          currentPath={currentPath}
          currentHash={currentHash}
        />
      </div>
      <button
        class='app__backdrop'
        type='button'
        aria-hidden='true'
        tabindex='-1'
        data-nav-backdrop
      />
    </>
  )
}
